extends ../layout

block content
  h1= title
  p Welcome to #{title}

  li
    a(href='/reservations/index') Reserve A Site

  //- https://images.unsplash.com/photo-1414016642750-7fdd78dc33d9?dpr=0.67&fit=crop&fm=jpg&h=2275&q=80&w=4325
  table
      thead
        tr
          th loopName
          th siteId
          th siteType
      tbody
        tr
          td= thisSite.loopName
          td= thisSite.siteId
          td= thisSite.siteType
            td
              a(href='/reservations/index') Reserve This Site


