extends ../layout

block content
  h1= title
  //- p Welcome to #{title}

  h2 Your Reservations List

  table(border = '0')
    thead
      tr
        th Arrival Date
        th Length Of Stay
        th Campground
        th Loop
        th Site
        th Site Type
    for reservations in allReservations
      tr
        td= reservations.arrivalDate
        td= reservations.lengthOfStay
        td= reservations.facilityName
        td= reservations.loopName
        td= reservations.siteId
        td= reservations.siteType








  //- https://images.unsplash.com/photo-1428865798880-73444f4cbefc?q=80&fm=jpg&w=1080&fit=max&s=590c201c6efd7f7d588aa0f0c36b0e4e
//- https://images.unsplash.com/photo-1423439793616-f2aa4356b37e?dpr=0.67&fit=crop&fm=jpg&h=2275&q=80&w=4325

